<a href="https://colab.research.google.com/github/GapFinance/sample/blob/master/Laboratorio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Práctica 1 de Talento Tech : Incluye Importar un **Dataset**

In [ ]:
# Paso 1 : Importar las librerias Recqueridas
# Paso 1.1 : Debo tener el archivo en una carpeta
# Paso 2 : Debo Establecer una conexion con la Carpeta
# Paso 3 : Ejecutar la Celda de la Conexión y revisar que este OK.

Ingreso de Nuevos Datos

In [ ]:
from google.colab import drive # Traemos la clase Drive, dentro del módulo Colab del paquete Google.
drive.mount('/content/drive', force_remount=True) # Establecemos la conexión a través del método mount

Mounted at /content/drive

In [ ]:
from os import path
#Establezco la conexión con mi fuente y con el Dataset de prueba Ventas.xlsx
path= '/content/drive/MyDrive/Colab Notebooks/Data/0. Ventas - Original.xlsx'

In [ ]:
# Importamos la libreria para manipulación de datos llamada Pandas
import pandas as pd

In [ ]:
#Creamos un Dataframe de pandas con los datos suministrados
df_Ventas = pd.read_excel(path)

In [ ]:
#Ejercicio 1: Mostrar las primeras filas del Dataframe
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
print(df_Ventas.head(5))

Ejercicio 1: Mostrar las primeras filas del DataFrame
   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
1  45323  Central    Accesorios    Karen    6909
2  45324  Central  Dispositivos    David   11420
3  45325  Central  Dispositivos    Karen   12948
4  45326  Central      Sistemas    David   20098

In [ ]:
#Ejercicio 2: Calcular el total de ventas por region
print("Ejercicio 2: Calcular el total de ventas por region")
ventas_por_region = df_Ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_Ventas.head(10))

Ejercicio 2: Calcular el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
1  45323  Central    Accesorios    Karen    6909
2  45324  Central  Dispositivos    David   11420
3  45325  Central  Dispositivos    Karen   12948
4  45326  Central      Sistemas    David   20098
5  45327  Central      Sistemas    Karen   30633
6  45328     Este    Accesorios      Ana    9323
7  45329     Este    Accesorios    Lucas    7667
8  45330     Este  Dispositivos      Ana   10348
9  45331     Este  Dispositivos    Lucas    9312

In [ ]:
#Ejercicio 2: Calcular el total de ventas por region
print("Ejercicio 2: Calcular el total de ventas por region")
ventas_por_region = df_Ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_Ventas.head(10))

Ejercicio 2: Calcular el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
1  45323  Central    Accesorios    Karen    6909
2  45324  Central  Dispositivos    David   11420
3  45325  Central  Dispositivos    Karen   12948
4  45326  Central      Sistemas    David   20098
5  45327  Central      Sistemas    Karen   30633
6  45328     Este    Accesorios      Ana    9323
7  45329     Este    Accesorios    Lucas    7667
8  45330     Este  Dispositivos      Ana   10348
9  45331     Este  Dispositivos    Lucas    9312

In [ ]:
#Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David")
ventas_david = df_Ventas[df_Ventas['Vendedor'] == 'David']
print(ventas_david)

Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
2  45324  Central  Dispositivos    David   11420
4  45326  Central      Sistemas    David   20098

In [ ]:
#Ejercicio 4: Calcular el promedio de ventas por región
print("Ejercicio 4: Calcular el promedio de ventas por región")
promedio_ventas_region = df_Ventas.groupby('Region')['Ventas'].mean()
print(promedio_ventas_region)

Ejercicio 4: Calcular el promedio de ventas por región
Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [ ]:
# prompt: Ejercicio 5 : Calcular el promedio de ventas por región con dos digitos
print("Ejercicio 5: Calcular el promedio de ventas por región con dos digitos")
promedio_ventas_region = df_Ventas.groupby('Region')['Ventas'].mean()
print(promedio_ventas_region.round(2))

Ejercicio 5: Calcular el promedio de ventas por región con dos digitos
Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [ ]:
# Ejercicio 6: Ordenar el Dataframe por ventas en orden descendente
print("Ejercicio 6: Ordenar el Dataframe por ventas en orden descendente")
df_Ventas_ordenado = df_Ventas.sort_values(by='Ventas', ascending=False)
print(df_Ventas_ordenado)

Ejercicio 6: Ordenar el Dataframe por ventas en orden descendente
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348
6   45328     Este    Accesorios      Ana    9323
9   45331     Este  Dispositivos    Lucas    9312
15  45337    Oeste  Dispositivos     Sara    8780
0   45322  Central    Accesorios    David    8287
7   45329     Este    Accesorios    Lucas    7667
1   45323  Central    Accesorios    Karen    6909
13  45335    Oeste    Accesorios     Sara    5442
12  45334    Oeste    Accesorios    Kevin    4744

Manipulación de Datos:
*   Filtra las cifras donde los valores sean mayores a 10.000
*   Ordena el Dataframe por la columna de "Ventas" en orden desendente
*   Elimina la columna Vendedor

In [ ]:
# Ejercicio 7: Filtra las cifras donde los valores sean mayores a 10000
print("Ejercicio 7: Filtra las cifras donde los valores sean mayores a 10000")
df_Ventas_filtrado = df_Ventas[df_Ventas['Ventas'] > 10000].sort_values(by='Ventas', ascending=False)
print(df_Ventas_filtrado)

Ejercicio 7: Filtra las cifras donde los valores sean mayores a 10000
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348

In [ ]:
# Ejercicio 8: Ordena el Dataframe por la columna de "Ventas" en orden desendente
print("Ejercicio 8: Ordena el Dataframe por la columna de \"Ventas\" en orden desendente")
df_Ventas_ordenado = df_Ventas.sort_values(by='Ventas', ascending=False)
print(df_Ventas_ordenado)

Ejercicio 8: Ordena el Dataframe por la columna de "Ventas" en orden desendente
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348
6   45328     Este    Accesorios      Ana    9323
9   45331     Este  Dispositivos    Lucas    9312
15  45337    Oeste  Dispositivos     Sara    8780
0   45322  Central    Accesorios    David    8287
7   45329     Este    Accesorios    Lucas    7667
1   45323  Central    Accesorios    Karen    6909
13  45335    Oeste    Accesorios     Sara    5442
12  45334    Oeste    Accesorios    Kevin    4744

In [ ]:
#Generar Graficos de analisis
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Ejercicio 8: Ordena el Dataframe por la columna de "Ventas" en orden desendente
print("Ejercicio 8: Ordena el Dataframe por la columna de \"Ventas\" en orden desendente")
df_Ventas_ordenado = df_Ventas.sort_values(by='Ventas', ascending=False)
print(df_Ventas_ordenado)

Ejercicio 8: Ordena el Dataframe por la columna de "Ventas" en orden desendente
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348
6   45328     Este    Accesorios      Ana    9323
9   45331     Este  Dispositivos    Lucas    9312
15  45337    Oeste  Dispositivos     Sara    8780
0   45322  Central    Accesorios    David    8287
7   45329     Este    Accesorios    Lucas    7667
1   45323  Central    Accesorios    Karen    6909
13  45335    Oeste    Accesorios     Sara    5442
12  45334    Oeste    Accesorios    Kevin    4744

In [ ]:
# Ejercicio 9: Elimina la columna Vendedor
print("Ejercicio 9: Elimina la columna Vendedor")
df_Ventas_sin_vendedor = df_Ventas.drop('Vendedor', axis=1)
print(df_Ventas_sin_vendedor)

Ejercicio 9: Elimina la columna Vendedor
    Fecha   Region      Producto  Ventas
0   45322  Central    Accesorios    8287
1   45323  Central    Accesorios    6909
2   45324  Central  Dispositivos   11420
3   45325  Central  Dispositivos   12948
4   45326  Central      Sistemas   20098
5   45327  Central      Sistemas   30633
6   45328     Este    Accesorios    9323
7   45329     Este    Accesorios    7667
8   45330     Este  Dispositivos   10348
9   45331     Este  Dispositivos    9312
10  45332     Este      Sistemas   13531
11  45333     Este      Sistemas   13374
12  45334    Oeste    Accesorios    4744
13  45335    Oeste    Accesorios    5442
14  45336    Oeste  Dispositivos   10711
15  45337    Oeste  Dispositivos    8780
16  45338    Oeste      Sistemas   32855
17  45339    Oeste      Sistemas   23151

In [ ]:
# Factores de Conversión
# kg_to_lbs = 0.453592
# estatura_to_mt = 0.3048

# ctrl + mayus + / para comentariar

# Crear un nuevo dataframe llamado df_convertido
# df_convertido = df_nombres

In [ ]:
df_Ventas.describe()

              Fecha        Ventas
count     18.000000     18.000000
mean   45330.500000  13307.388889
std        5.338539   8153.055776
min    45322.000000   4744.000000
25%    45326.250000   8410.250000
50%    45330.500000  10529.500000
75%    45334.750000  13491.750000
max    45339.000000  32855.000000

In [ ]:
# Ejercicio 2: Calcular el total de ventas por region
print("Ejercicio 2: Calcular el total de ventas por region")
ventas_por_region = df_Ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_Ventas.head(10))

Ejercicio 2: Calcular el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
1  45323  Central    Accesorios    Karen    6909
2  45324  Central  Dispositivos    David   11420
3  45325  Central  Dispositivos    Karen   12948
4  45326  Central      Sistemas    David   20098
5  45327  Central      Sistemas    Karen   30633
6  45328     Este    Accesorios      Ana    9323
7  45329     Este    Accesorios    Lucas    7667
8  45330     Este  Dispositivos      Ana   10348
9  45331     Este  Dispositivos    Lucas    9312

In [ ]:
# Ejercicio 3 : Filtrar el DataFrame para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David")
ventas_david = df_Ventas[df_Ventas['Producto'] == 'Accesorios']
print(ventas_david)

Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
    Fecha   Region    Producto Vendedor  Ventas
0   45322  Central  Accesorios    David    8287
1   45323  Central  Accesorios    Karen    6909
6   45328     Este  Accesorios      Ana    9323
7   45329     Este  Accesorios    Lucas    7667
12  45334    Oeste  Accesorios    Kevin    4744
13  45335    Oeste  Accesorios     Sara    5442

In [ ]:
# Ejercicio 7: Filtrar las filas con ventas mayores a 10000 rdenar de mayor a menor
print("Ejercicio 7: Filtrar las filas con ventas mayores a 10000 rdenar de mayor a menor")
df_Ventas_filtrado = df_Ventas[df_Ventas['Ventas'] > 10000].sort_values(by='Ventas', ascending=False)
print(df_Ventas_filtrado)

Ejercicio 7: Filtrar las filas con ventas mayores a 10000 rdenar de mayor a menor
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348

In [ ]:
# Ejercicio 9 : Eliminar la columna "Vendedor"
print("Ejercicio 9: Eliminar la columna \"Vendedor\"")
df_Ventas_sin_vendedor = df_Ventas.drop('Vendedor', axis=1)
print(df_Ventas_sin_vendedor)

Ejercicio 9: Eliminar la columna "Vendedor"
    Fecha   Region      Producto  Ventas
0   45322  Central    Accesorios    8287
1   45323  Central    Accesorios    6909
2   45324  Central  Dispositivos   11420
3   45325  Central  Dispositivos   12948
4   45326  Central      Sistemas   20098
5   45327  Central      Sistemas   30633
6   45328     Este    Accesorios    9323
7   45329     Este    Accesorios    7667
8   45330     Este  Dispositivos   10348
9   45331     Este  Dispositivos    9312
10  45332     Este      Sistemas   13531
11  45333     Este      Sistemas   13374
12  45334    Oeste    Accesorios    4744
13  45335    Oeste    Accesorios    5442
14  45336    Oeste  Dispositivos   10711
15  45337    Oeste  Dispositivos    8780
16  45338    Oeste      Sistemas   32855
17  45339    Oeste      Sistemas   23151